{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Boards</li>
{% endblock breadcrumb %}

{% block content %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topic</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for board in boards %}
        <tr>
            <td>
                <a href="{% url 'board_topics' board.id%}">
                    {{board.name}}
                </a>
                <small class="text-muted d-block">{{board.description}}</small>
            </td>
            <td>{{ board.get_posts_count }}</td>
            <td>{{ board.topics_related_name.count }}</td>
            <td>
                {% with userPost=board.get_last_post%}
                {%if userPost%}
                by {{userPost.created_by.username}} at {{userPost.created_dt}}
               {%else%}
                <small>No Posts</small>
                {%endif%}
                {%endwith%}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}