{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Boards</li>
{% endblock breadcrumb %}

{% block content %}
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Board</th>
            <th>Posts</th>
            <th>Topic</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
        {% for obj in boards %}
        <tr>
            <td>
                <a href="{% url 'board_topics' obj.id%}">
                    {{obj.name}}
                </a>
                <small class="text-muted d-block">{{obj.description}}</small>
            </td>
            <td>0</td>
            <td>0</td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}