{% extends 'base.html' %}

{% block title %}
{{board.name}}
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock breadcrumb %}

{% block content %}
<a href="{% url 'new_topic' board.pk %}" class="btn btn-primary">Add a New Topic</a>
{% if board.topics_related_name.all %}
<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th rowspan="2">Topic</th>
            <th colspan="2">Created by</th>
            <th rowspan="2">Posts</th>
            <th rowspan="2">Views</th>
            <th rowspan="2">Created date</th>
        </tr>
        <tr>
            <th>username</th>
            <th>email</th>
        </tr>
    </thead>

    <!-- Notes that in Jinja, if the value does not exist, that will not give you an error or undefine -->
    <!-- we can use this good thing to make a conditional rendering -->
    {% for topic in board.topics_related_name.all %}
    <tr>
        <td> <a href="{% url 'topic_posts' board.pk topic.pk %}">{{topic.subject}}</a></td>
        <td>{{topic.created_by.username}}</td>
        <td>{{topic.created_by.email}}</td>
        <td>0</td>
        <td>0</td>
        <td>{{topic.created_dt}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<h1>There is no topic added yet<br/>
    <small>
        be the first one who add
    </small>
</h1>
{% endif %}
{% endblock content %}