{% extends 'base.html' %}

{% block title %}
Change Password Successful
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'password_change' %}">Change Password</a></li>
<li class="breadcrumb-item active">Success</li>
{% endblock breadcrumb %}

{% block content %}
<div class="alert alert-success" role="alert">
    Your Password Has beed Changed Successfully :)
</div>

<a class="btn btn-primary" href="{% url 'home' %}">
    Back to Home Page
</a>

{% endblock content %}