{% extends 'base.html' %}
{% load static %}

{% block title %}
Signup
{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock stylesheet %}


{% block body %}
<div class="container">
    <h1>Log in</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token%}
        <!-- {{ form.as_p }} -->
        <input type="hidden" name="next" value="{{ next }}"> <!-- in the value: add the path (path name) that you want to redirect after log in if the user not authenticated -->
        {% include 'includes/form.html' %}  
        <br />
        <button type="submit" class="btn btn-primary">login</button>
    </form>
    <hr />
    <div class="cart-footer text-muted text-center">
        Dont have an account? <a href="{% url 'signup' %}">Signup</a>
    </div>
    <hr />
</div>

{% endblock body %}