{% extends 'base.html' %}

{% block title %}
Create new topic
{% endblock title %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
<li class="breadcrumb-item active">New Topic</li>
{% endblock breadcrumb %}

{% block content %}
<form method="POST" novalidate>
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    {% include 'includes/form.html' %}  
    <br />
    <button type="submit" class="btn btn-success">Add</button>
</form>

{% endblock content %}

<!--  form way // conventional way
    <form method="POST" action="">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Subjects</label>
      <input type="text" class="form-control" id="id_subject" name="subject">
    </div>
    <div class="form-group">
      <label for="id_message">Message</label>
      <textarea class="form-control" id="id_message" rows="5" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form> 
-->